In [1]:
!pip install xlwt

Requirement already satisfied: xlwt in /home/mmoham12/Applications/anaconda3/lib/python3.6/site-packages

In [2]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /home/mmoham12/Applications/anaconda3/lib/python3.6/site-packages
Requirement already satisfied: jdcal in /home/mmoham12/Applications/anaconda3/lib/python3.6/site-packages (from openpyxl)
Requirement already satisfied: et_xmlfile in /home/mmoham12/Applications/anaconda3/lib/python3.6/site-packages (from openpyxl)

In [19]:
import os

from openpyxl import Workbook
from openpyxl import load_workbook

In [47]:
wb = Workbook()
save_dir=""
if os.path.isfile(save_dir + "resultMM.xlsx"):
    wb = load_workbook(save_dir + "resultMM.xlsx") 
else:
    wb = Workbook() 

sh = wb.active

xrow= sh.max_row 
  # sh = book.add_sheet("results")
sh.cell
c =sh.cell( row= xrow , column=1) 
c.value= "test_id" + str(xrow)

sh.cell( row= xrow + 1, column=1).value= "test_id X " + str(xrow + 1 )
# c.value= "test_id X " + str(xrow + 1 )

wb.save("resultMM.xlsx")

In [103]:
import pickle
import numpy as np
import os
import pandas as pd
import csv
import datetime

### Reading and Merging the generated samples

In [108]:
input_size = 15000
batch_size = 64
dim = 16
dataset ="LACity"

In [104]:
data =np.ndarray([batch_size * (input_size // batch_size) , dim ,dim], dtype=float) # 64 * 234, 16 , 16

for idx in range(input_size // batch_size):
    #print("%04d" % idx)
    with open( "samples/sample_%04d.pickle" % idx , 'rb' ) as handle:
        df = np.array(pickle.load(handle))
            
    data[idx * batch_size : (idx+1) * batch_size] = df.reshape(df.shape[0],df.shape[1],df.shape[2]) # 64 ,16,16

FileNotFoundError: [Errno 2] No such file or directory: 'samples/sample_0000.pickle'

In [105]:
with open('samples_merged.pickle' ,'rb') as handle: # data  = numpyarra = records * 256
    data = pickle.load(handle)

In [109]:
data.shape

(14976, 256)

In [98]:
#data.shape

(14976, 16, 16)

In [111]:
#df.to_pickle("data/" + dataset + "_samples_merged.pickle")
with open("data/" +dataset + "_fake_array2.pickle" , 'wb') as handle:
    pickle.dump(data , handle, protocol=pickle.HIGHEST_PROTOCOL)

### Saving Mereged Samples as Excel Format

In [107]:
data = data.reshape( data.shape[0] , data.shape[1] * data.shape[2]) # [64 , 16*16=256]


df = pd.DataFrame(data)
df.to_excel("data/"+dataset +"_fake.xlsx", index=False)

IndexError: tuple index out of range

In [100]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,246,247,248,249,250,251,252,253,254,255
0,-0.815395,0.735276,-0.832552,-0.106430,-0.347852,0.503204,-0.989910,-0.946405,-0.216065,-0.804752,...,0.176906,0.152535,0.415329,0.056478,-0.190819,0.125470,0.559789,-0.076673,0.099058,-0.059428
1,-0.381510,0.559979,-0.540594,-0.793046,-0.871217,-0.497144,-0.991303,-0.757508,-0.359159,-0.581531,...,0.242817,0.056719,0.389412,-0.044020,-0.131992,0.040670,0.480033,-0.100186,0.104375,-0.047181
2,-0.599722,0.778216,-0.717035,-0.844264,-0.838704,-0.365664,-0.997751,-0.733524,-0.259674,-0.101977,...,0.343235,0.051810,0.473736,-0.036622,-0.207462,0.050292,0.581012,-0.145768,0.146271,-0.028023
3,0.060992,0.588202,0.073534,-0.862078,-0.760598,0.548987,-0.968326,-0.995593,-0.883896,-0.940378,...,0.224887,0.100636,0.367583,-0.040932,-0.192741,0.067377,0.540342,-0.074532,0.136109,-0.099899
4,-0.590799,0.217362,-0.581285,0.185616,-0.299528,-0.217515,-0.897154,-0.570159,-0.227315,-0.882273,...,0.003101,0.096034,0.221412,0.088902,-0.029192,0.082144,0.376652,-0.006821,0.063794,-0.051922